* {
    font-size: 30px;
}

#header {
    height: 150px;
    background-color: red;
}

#wrapper {
    float: left;
    width: 100%;
}

#main {
    margin-left: 150px;
    background-color: green;
}

#side {
    float: left;
    width: 150px;
    margin-left: -100%;
    background-color: blue;
}

#footer {
    clear: both;
    height: 150px;
    background-color: yellow;
}